/** COMMON **/
.body {
  font-size: 16px;
  font-family: FiraSans, sans-serif;
  /*background: #ececec url(img/background.png) repeat;*/
}

.line-full {
  width: 100%;
  height: 0;
  border: solid 1px #eaebf0;
}

.line {
  width: 1185px;
  height: 0;
  border: solid 1px #e0e0e1;
  margin-top: 24px;
  margin-bottom: 32px;
}

/** HEADER **/
.header {
  background-color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-navigation {
  display: block;
}

.header-link {
  display: inline-block;
  padding: 1.5rem .5rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

/** ZZZZ **/
.banner-title {
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: Philosopher;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.12;
  color: #3e4247;
}

.banner-location {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: FiraSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}

/** PHOTO **/
.photo {
  width: 100%;
  height: 400px;
}

.photo-image {
  width: 100%;
  height: 400px;
}

/** INFO BLOCK 1 **/
.info-main-block {
  padding-rigth: 48px;
  padding-left: 0px;
}

.info-main-title {
  font-family: Philosopher;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.12;
  color: #3e4247;
}

.info-main-desc {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: FiraSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}

/** characteristics **/


/** DESCRIPTION **/
.description {

}

.description-title {
  font-family: Philosopher;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.12;
  color: #3e4247;
}

.description-text {
  font-family: FiraSans;
  font-size: 16px;
  line-height: 1.56;
  color: #3e4247;
}