/** COMMON **/
.body {
  font-size: 16px;
  font-family: FiraSans, sans-serif;
  background: #ececec url('img/background.png') repeat;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.column-wrapper {
  width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

/** HEADER **/
.header {
  background-color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-navigation {
  display: block;
}

.header-link {
  display: inline-block;

  /*padding: 1.5rem .5rem;*/
  font-family: FiraSans, sans-serif;
  padding-left: 1.75rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

.header-link:last-child {
  /*padding-right: 0rem;*/
}

.header-link:hover {
  text-decoration: underline;
}

/** BANNER **/
.banner {
  display: block;
  background-color: #161616;
}

.banner-image {
  width: 419px;
  height: 131px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/** CONTACT **/
.contact-title {
  margin-top: 4rem;
  margin-bottom: .5rem;
  font-size: 24px;
  font-weight: bold;
  color: #3e4247;
}

.contact-description {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
}

.contact-button {
  margin-bottom: 4rem;
  padding: .75rem 2rem;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/** CARD **/
.card-info {
  padding-left: 2rem;
  padding-right: 5.375rem;
}

.card-link {
  margin-bottom: 3rem;
  display: flex;
  background-color: #ffffff;
  border-bottom: solid 2px #646971;
  cursor: pointer;
}

.card-link:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card-location {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 16px;
  text-transform: uppercase;
  color: #646971;
  font-family: Monaco, Menlo, Consolas, monospace;
  text-align: left;
}

.card-address {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 1.4;
  color: #000000;

}

.card-description {
  font-size: 16px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: left;
  line-height: 1.5;
  color: #3e4247;
}

/** FOOTER **/
.footer {
  background-color: #111111;
  display: flex;
  align-items: center;
}

.footer-wrapper {
  margin-top: 2rem;
}

.footer-line {
  width: 186px;
  margin-bottom: 1rem;
  border: solid 2px #3e4247;
}

.footer-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: bold;
  color: #646971;
}

.footer-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}

.footer-link {
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.footer-phone {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-all {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-description {
  margin-top: 6rem;
  font-size: 11px;
  font-weight: 300;
  color: #a9afb6;
}
