/** COMMON **/
body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.complexes {
  background: #eaebf0 url("./img/background.png") repeat;
  background-size: 20px 10px;;
}

.complex {
  background-color: #ffffff;
}