/** COMMON **/
body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.complexes {
  background: #ececec url("./img/background.png") repeat;
}

/** HEADER **/
.header {
  background-color: white;
  border-bottom: solid 1px #eaebf0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-navigation {
  display: block;
  padding-top: 1.4375rem;
}

.header-link {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 1.75rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

/** FOOTER **/
.footer {
  margin-top: 6rem;
  padding-top: 2rem;
  background-color: #111111;
  display: flex;
  align-items: center;
}

.footer-line {
  margin-top: 0;
  width: 186px;
  margin-bottom: 1rem;
  border: solid 1px #3e4247;
  box-sizing: content-box;
}

.footer-arrow {
  padding-left: 8px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4rem;
  color: #646971;
}

.footer-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #a9afb6;
}

.footer-link {
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-phone {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-all {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-description {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.125rem;
  color: #a9afb6;
}

/** BANNER **/
.banner {
  display: block;
  background-color: #161616;
}

.banner-image {
  width: 419px;
  height: 131px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/** CONTACT **/
.contact-container {
  width: 804px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.55;
  color: #3e4247;
}

.contact-description {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e4247;
}

.contact-button {
  padding: .75rem 2rem;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.contact-button-label {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
}

/** CARD **/
.card-info {
  padding-left: 2rem;
  padding-right: 5.375rem;
  border-bottom: solid 2px #646971;
}

.card-link {
  display: flex;
  margin-bottom: 3rem;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.card-link:hover {
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.3);
}

.card-location {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size: 16px;
  color: #646971;
  text-transform: uppercase;
  text-align: left;
}

.card-address {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 1.4;
  color: #000000;
}

.card-description {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #3e4247;
}

/** BUILDING **/
.building {
  display: flex;
  justify-content: space-between;
}

.building-title {
  margin-top: 1.563rem;
  margin-bottom: .5rem;
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-weight: bold;
  line-height: 36px;
  color: #3e4247;
}

.building-location {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

.building-favorite-button {
  padding: 7px 15px;
  margin-top: 24px;
  align-self: flex-start;
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  background-color: transparent;

  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: #00779a;
}

/** GALLERY **/
.complex-gallery {
  display: flex;
  position: relative;
}

.complex-gallery-item {
  width: 297px;
  height: 400px;
}

.gallery-button {
  position: absolute;
  top: 358px;
  left: 128px;
  bottom: 16px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background-color: #00779a;

  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: white;
}

/** INFO MAIN **/
.info-main {
  display: flex;
}

.info-main-block {
  padding-right: 3rem;
  padding-left: 0;
}

.info-main-title {
  margin-top: 1.375rem;
  margin-bottom: 1.5rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #3e4247;
}

.info-main-description {
  font-family: FiraSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

/** characteristics **/
.characteristics-title {
  margin-top: 2rem;
  margin-bottom: 1.125rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3e4247;
}

.characteristics-list {
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: max-content auto;
}

.characteristics-key {
  grid-column-start: 1;
  margin-bottom:  0.6875rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.characteristics-value {
  margin-left: 2rem;
  grid-column-start: 2;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #3e4247;
}

/** DESCRIPTION **/
.description-wrapper {
  margin-top: 2.438rem;
  margin-bottom: 1.5rem;
}

.description-title {
  margin: 0;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3e4247;
}

.description-text {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #3e4247;
}

/** INFRASTRUCTURE **/
.infrastructure-wrapper {
  margin-bottom: 3.5rem;
}

.infrastructure-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3e4247;
}

.infrastructure-item {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

/** OFFER **/
.offer {
  background-color: #f4f5f9;
}

.offer-main-title {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #3e4247;
}

.offer-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: Philosopher, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #3e4247;
}

.offer-area {
  margin-bottom: 0.625rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.offer-area-value {
  margin-top: 0.625rem;
  margin-bottom: 1.563rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

.offer-price {
  margin-bottom: 0.625rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.offer-price-value {
  margin-top: 0.625rem;
  margin-bottom: 2.063rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

.offer-block {
  padding: 1.5rem 2rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
}

.offer-button {
  padding: .75rem 2rem;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
}

/** GUIDE **/
.guide {
  padding-bottom: 9.563rem;
  margin-bottom: 13.69rem;
  background-color: #3e4247;
  color: white;
}

.guide-info {
  margin-top: 11.25rem;
  margin-bottom: 11.25rem;
}

.guide-photo {
  width: 583px;
  height: 560px;
  margin-top: 3.875rem;
  margin-bottom: 3.938rem;
}

.guide-summary {
  margin-bottom: 3rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  color: #a9afb6;
}

.guide-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: Philosopher, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}

.guide-link {
  margin-bottom: 11.31rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #00779a;
}

.guide-map {
  position: absolute;
  width: 583px;
  height: 306px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.guide-navigation {
  position: absolute;
  width: 36.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.guide-navigation-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #3e4247;
}

.guide-navigation-details {
  margin-top: .5rem;
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.guide-navigation-block {
  padding: 1.5rem;
  border-bottom: solid 2px #e0e0e1;
}