/** COMMON **/
.body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.line-short {
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: solid 1px #e0e0e1;
}

/** HEADER **/
.header {
  background-color: white;
}

.header-wrapper {
  display: flex;
  margin-left: .5rem;
  margin-right: .5rem;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-navigation {
  display: block;
  padding-top: 1.5rem;
}

.header-link {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 1.75rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

/** BUILDING **/
.building {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.building-title {
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  color: #3e4247;
}

.building-location {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

.building-favorite-button {
  padding: 8px 16px;
  margin-top: 24px;
  align-self: flex-start;
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  background-color: transparent;
}

.building-favorite-button-text {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: #00779a;
}

/** GALLERY **/
.complex-gallery {
  display: flex;
  position: relative;
}

.gallery-button {
  position: absolute;
  top: 358px;
  left: 128px;
  bottom: 16px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background-color: #00779a;
}

.gallery-button-label {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: white;
}

/** INFO BLOCK 1 **/
.info-main {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.info-main-block {
  padding-right: 48px;
  padding-left: 0;
}

.info-main-title {
  margin-top: 24px;
  margin-bottom: 10px;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.info-main-description {
  margin-top: 10px;
  margin-bottom: 24px;
  font-family: FiraSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

/** characteristics **/
.characteristics-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.characteristics-title {
  margin-top: 32px;
  margin-bottom: 18px;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.characteristics-dl {
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: max-content auto;
}

.characteristics-dt {
  grid-column-start: 1;
  margin-bottom: 11px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.characteristics-dd {
  margin-left: 32px;
  grid-column-start: 2;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  color: #3e4247;

}

/** DESCRIPTION **/
.description-wrapper {
  margin: 39px 1rem 24px;
}

.description-title {
  margin: 0;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.description-text {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #3e4247;
}

/** INFRASTRUCTURE **/
.infrastructure-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 56px;
}

.infrastructure-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.infrastructure-item {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

/** OFFER **/
.offer {
  background-color: #f4f5f9;
}

.offer-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.offer-main-title {
  margin-top: 64px;
  margin-bottom: 24px;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.offer-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Philosopher, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  color: #3e4247;
}

.offer-area {
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.offer-area-value {
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

.offer-price {
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.offer-price-value {
  margin-top: 10px;
  margin-bottom: 33px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
}

.offer-block {
  padding: 24px 2rem;
  margin-bottom: 64px;
  background-color: #ffffff;
}

.offer-button {
  padding: .75rem 2rem;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.offer-button-label {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
}

/** GUIDE **/
.guide-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.guide {
  padding-bottom: 153px;
  margin-bottom: 219px;
  background-color: #3e4247;
  color: white;
}

.guide-info {
  margin-top: 180px;
  margin-bottom: 180px;
}

.guide-photo {
  width: 583px;
  height: 560px;
  margin-top: 62px;
  margin-bottom: 63px;
}

.guide-summary {
  margin-bottom: 48px;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #a9afb6;
}

.guide-title {
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: Philosopher, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
}

.guide-link {
  margin-bottom: 181px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #00779a;
}

.guide-map {
  position: absolute;
  width: 583px;
  height: 306px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.guide-navigation {
  position: absolute;
  width: 36.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.guide-navigation-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #3e4247;
}

.guide-navigation-details {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #a9afb6;
}

.guide-navigation-block {
  padding: 24px;
  border-bottom: solid 2px #e0e0e1;
}

/** FOOTER **/
.footer {
  margin-top: 65px;
  background-color: #111111;
  display: flex;
  align-items: center;
}

.footer-wrapper {
  margin-top: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.footer-line {
  margin-top: 0;
  width: 186px;
  margin-bottom: 1rem;
  border: solid 1px #3e4247;
  box-sizing: content-box;
}

.footer-arrow {
  padding-left: 8px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4rem;
  color: #646971;
}

.footer-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #a9afb6;
}

.footer-link {
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-phone {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-all {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-description {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.125rem;
  color: #a9afb6;
}
