/** COMMON **/
.body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

/** HEADER **/
.header {
  background-color: white;
}

.header-wrapper {
  display: flex;
  margin-left: .5rem;
  margin-right: .5rem;
  justify-content: space-between;
}

.header-logo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-navigation {
  display: block;
  padding-top: 1.5rem;
}

.header-link {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 1.75rem;
  font-size: 16px;
  line-height: 1.0;
  color: #3e4247;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

/** ZZZZ **/
.banner-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.banner-title {
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: 'Philosopher', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  color: #3e4247;
}

.banner-location {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

.banner-favorite-button {
  padding: 8px 16px;
  margin-top: 24px;
  align-self: flex-start;
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  background-color: transparent;
}

.banner-favorite-button-text {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  color: #00779a;
}

/** PHOTO **/
.photo {
  width: 100%;
  height: 400px;
}

.photo-image {
  width: 100%;
  height: 400px;
}

/** INFO BLOCK 1 **/
.info-wrapper {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.info-main-block {
  padding-right: 48px;
  padding-left: 0;
}

.info-main-title {
  margin-top: 24px;
  margin-bottom: 10px;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  color: #3e4247;
}

.info-main-desc {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: FiraSans, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #a9afb6;
}

/** characteristics **/


/** DESCRIPTION **/
.description {

}

.description-title {
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.12;
  color: #3e4247;
}

.description-text {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.56;
  color: #3e4247;
}

/** FOOTER **/
.footer {
  margin-top: 6rem;
  background-color: #111111;
  display: flex;
  align-items: center;
}

.footer-wrapper {
  margin-top: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.footer-line {
  margin-top: 0;
  width: 186px;
  margin-bottom: 1rem;
  border: solid 1px #3e4247;
  box-sizing: content-box;
}

.footer-arrow {
  padding-left: 8px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4rem;
  color: #646971;
}

.footer-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #a9afb6;
}

.footer-link {
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-phone {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-all {
  margin-top: 1rem;
  margin-bottom: 0;
}

.footer-description {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.125rem;
  color: #a9afb6;
}
